
<div class="row abc">
<div  *ngFor="let pd of service.list" class="p-3 ml-5">
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">{{pd.name}}</h5>
    <p class="card-text">{{pd.price}}</p>
    <button class="btn btn-primary"  data-toggle="modal" [attr.data-target]="'#test' + pd.id" >detail</button>
  </div>
</div>
<div class="modal fade" [id]="'test'+ pd.id" tabindex="-1" role="dialog" aria-labelledby="exampleModallabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{pd.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{pd.price}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addto(pd)">Add to cart</button>
      </div>
    </div>
  </div>
</div>

</div>

</div>


<!-- <app-child-detail [cartitem]="myitem"></app-child-detail> -->

<!-- Button trigger modal -->


<!-- Modal -->
